<div class="dialog-container" [@modalAppear]>
<div class="dialog-container">
  <div class="dialog-content">
    <div>
      <label>Studio Name:</label>
      <input type="text" [(ngModel)]="recordingStudio.studioName" class="form-control" required>
    </div>
    <div>
      <label>Location:</label>
      <input type="text" [(ngModel)]="recordingStudio.location" class="form-control" required>
    </div>
    <div>
      <label>Number Of Employees:</label>
      <input type="number" [(ngModel)]="recordingStudio.numberOfEmployees" class="form-control" required>
    </div>
    <div style="margin-top: 10px">
      <button mat-raised-button color="primary" (click)="updateRecordingStudio()">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
</div>
