<div class="dialog-container" [@modalAppear]>
  <div class="dialog-container">
    <div class="dialog-content">
      <div>
        <label>Name:</label>
        <input type="text" [(ngModel)]="artist.name" class="form-control" required>
      </div>
      <div>
        <label>Age:</label>
        <input type="number" [(ngModel)]="artist.age" class="form-control" required>
      </div>
      <div>
        <label>Artist Name:</label>
        <input type="text" [(ngModel)]="artist.artistName" class="form-control" required>
      </div>
      <div style="margin-top: 10px; display: flex; justify-content: center;">
        <button (click)="createArtist()" class="btn btn-info" style="margin-left: 10px">Save</button>
        <button (click)="cancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
      </div>

    </div>
  </div>
</div>
